.product{
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  width: 40rem;
  height: 12rem;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  gap: 2rem;
  box-shadow: 43px 40px 69px -16px #d6d6d6;
}
.value{
  background-color: azure;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 500;
}
.btn{
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid blueviolet;
  background-color: transparent;
  color: blueviolet;
  cursor: pointer;
  font-weight: 500;
}
.inc{
  background-color: blueviolet;
  color: white;
}
.hide{
  display: none;
}
.remove{
  color: tomato;
  border-color: tomato;
}
.imgContainer{
  width: 10rem;
  height: 100%;
  background-color: gold;
  border-radius: 0.75rem;
  overflow: hidden;
}
.productImg{
  /* min-width: 100%; */
  height: 100%;
  object-fit: cover;
}
.productInf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.manageProduct{
  display: flex;
  gap: 0.5rem;
}
.productPrice{
  font-size: 1.3rem;
  font-weight: 400;
}