.product {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  width: 25rem;
  height: 12rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  box-shadow: 43px 40px 69px -16px #d6d6d6;
  position: relative;
}
.value {
  background-color: azure;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: 500;
}
.btn {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #155ea6;
  background-color: transparent;
  color: #155ea6;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}
.inc {
  background-color: #155ea6;
  color: white;
}
.hide {
  display: none;
}
.disable {
  color: darkgrey;
  border-color: darkgrey;
}
.imgContainer {
  width: 10rem;
  height: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 18px 25px -14px #1b283b;
}
.productImg {
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productInf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 11rem);
}
.manageProduct {
  display: flex;
  gap: 0.5rem;
}
.productPrice {
  font-size: 1.3rem;
  font-weight: 400;
}
.productFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.productName,
.scoreNum {
  font-size: 1rem;
}
.productInc {
  font-size: 0.75rem;
  line-height: 1.1;
}
.score {
  color: #1976d2;
}
.likedProduct {
  border-radius: 50%;
  color: #1a77d2;
}
.likeBtn {
  position: absolute;
  right: 1.5rem;
  font-size: 1.25rem;
  top: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notLiked {
  color: gainsboro;
}

@media screen and (max-width: 768.99px) {
  .likeBtn {
    right: 1rem;
  }
  .productInf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% ;
  }
  .product {
    flex-direction: column;
    height: unset;
    min-height: 12rem;
  }
  .imgContainer {
    max-width: 10rem;
    height: 10rem;
  }
}