.product-list{
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 0.5rem 4rem;
    gap:2rem;
}
.empty{
    font-weight: 500;
    font-size: 1.5rem;
    color: gainsboro;
}
