.selectTag {
  border: none !important;
  outline: none;
  width: 8rem;
}
/* .selectTag > div{
  border: none !important;
  outline: none !important;
} */
.selectTitle {
  /* color: darkmagenta; */
  color: #999;
}
.selectContainer {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
.selectContainer Select {
  border: none !important;
}
@media screen and (max-width: 768.99px) {
  .selectContainer{
      width: 100%;
      justify-content: space-between;
  }
}