.selectTag {
  border: none !important;
  outline: none;
  width: 8rem;
}
/* .selectTag > div{
  border: none !important;
  outline: none !important;
} */
.selectTitle {
  /* color: darkmagenta; */
  color: #999;
}
.selectContainer {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
.selectContainer Select {
  border: none !important;
}
