.container {
  width: 100%;
  background-color: #f9fafb;
  /* height: 100vh; */
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main-content,
.mapContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wrapper {
  width: calc(100% - 8rem);
  display: flex;
  padding: 0 4rem;
}
